.new-dropdown {
    background:#fff;
    width:130px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.new-dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:12px;
    width:200px;
    margin-left: -10px;
}
.new-dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left:90px;
    z-index: 10;
}
nav ul li{
    padding:0 8px;
}
.new-dropdown .dropdown-menu>li>a {
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: #ffffff;
}