<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center marriage-service">
      <h3>Marriage Arrangements</h3>
      <h4 class="default-blue" style="margin-bottom:40px">All marriage arrangements under one umbrella</h4>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                <img class="" src="../assets/images/chef-cooking.svg" height="50" width="50">
                <h4 class="text-center features-title"><span>Chef</span></h4>
              </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                  <img class="" src="../assets/images/delivering.svg" height="50" width="50">
                  <h4 class="text-center features-title"><span>Food Catering</span></h4>
                </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                    <img class="" src="../assets/images/buffet.svg" height="50" width="50">
                    <h4 class="text-center features-title"><span>Buffet</span></h4>
                  </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                      <img class="" src="../assets/images/table.svg" height="50" width="50">
                      <h4 class="text-center features-title"><span>Chairs/Tables</span></h4>
                    </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                        <img class="" src="../assets/images/desk-lamp.svg" height="50" width="50">
                        <h4 class="text-center features-title"><span>Lighting</span></h4>
                      </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                          <img class="" src="../assets/images/video-camera.svg" height="50" width="50">
                          <h4 class="text-center features-title"><span>Video/Camera</span></h4>
                        </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                            <img class="" src="../assets/images/wedding-invitation.svg" height="50" width="50">
                            <h4 class="text-center features-title"><span>Wedding Invitation</span></h4>
                          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                              <img class="" src="../assets/images/music-player.svg" height="50" width="50">
                              <h4 class="text-center features-title"><span>Others</span></h4>
                            </a>
        </div>
      </div>
    </div>
  </div>
</div>