<app-header></app-header>
<div class="container" style="padding-top:70px">
  <div class="row">
    <div class="col-md-12 text-center plumbing-service">
      <h3>Plumbing Services</h3>
      <h4 class="default-blue" style="margin-bottom:40px">All plumbing services under one umbrella</h4>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                <img class="" src="../assets/images/piping.svg" height="50" width="50">
                <h4 class="text-center features-title"><span>Piping</span></h4>
              </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                  <img class="" src="../assets/images/shower.svg" height="50" width="50">
                  <h4 class="text-center features-title"><span>Bathroom Fittings</span></h4>
                </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                    <img class="" src="../assets/images/cutlery.svg" height="50" width="50">
                    <h4 class="text-center features-title"><span>Kitchen Fitting</span></h4>
                  </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                      <img class="" src="../assets/images/toolbox.svg" height="50" width="50">
                      <h4 class="text-center features-title"><span>Minor Repair</span></h4>
                    </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                        <img class="" src="../assets/images/tap.svg" height="50" width="50">
                        <h4 class="text-center features-title"><span>Taps</span></h4>
                      </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <a class="panel-body text-center">
                          <img class="" src="../assets/images/repairing.svg" height="50" width="50">
                          <h4 class="text-center features-title"><span>Others</span></h4>
                        </a>
        </div>
      </div>
    </div>
  </div>
</div>