<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center cleaning-service">
        <h3 >Home Cleaning Services</h3>
        <h4 class="default-blue" style="margin-bottom:40px">All home cleaning services under one umbrella</h4>
        <div class="col-md-3">
            <div class="panel panel-default">
              <a class="panel-body text-center">
                <img class="" src="../assets/images/house.svg" height="50" width="50">
                <h4 class="text-center features-title"><span>Complete Home Cleaning</span></h4>
              </a>
            </div>
          </div>
          <div class="col-md-3">
              <div class="panel panel-default">
                <a class="panel-body text-center">
                  <img class="" src="../assets/images/tank-truck.svg" height="50" width="50">
                  <h4 class="text-center features-title"><span>Septic Tank</span></h4>
                </a>
              </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                  <a class="panel-body text-center">
                    <img class="" src="../assets/images/sweeping-person.svg" height="50" width="50">
                    <h4 class="text-center features-title"><span>Kitchen Cleaning</span></h4>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="panel panel-default">
                    <a class="panel-body text-center">
                      <img class="" src="../assets/images/soap.svg" height="50" width="50">
                      <h4 class="text-center features-title"><span>Bathroom Cleaning</span></h4>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                      <a class="panel-body text-center">
                        <img class="" src="../assets/images/vacuum-cleaner.svg" height="50" width="50">
                        <h4 class="text-center features-title"><span>House Keeping</span></h4>
                      </a>
                    </div>
                  </div>
                  
                      <div class="col-md-3">
                          <div class="panel panel-default">
                            <a class="panel-body text-center">
                              <img class="" src="../assets/images/music-player.svg" height="50" width="50">
                              <h4 class="text-center features-title"><span>Others</span></h4>
                            </a>
                          </div>
                        </div>
    </div>
  </div>
</div>