<app-common-header></app-common-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 dashboard">
      <div class="col-md-2">
        <div class="panel panel-default">
          <a class="panel-body text-center" routerLink='/electrical'>
            <img class="" src="../assets/images/plug.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Electrical</span></h4>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center"  routerLink='/plumbing'>
            <img class="" src="../assets/images/pipes.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Plumbing</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center"  routerLink='/home-cleaning'>
            <img class="" src="../assets/images/paint-roller.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Home Cleaning</span></h4>
          
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center"  routerLink='/marriages'>
            <img class="" src="../assets/images/wedding-couple.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Marriages</span></h4>
          
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center" routerLink='/washing'>
            <img class="" src="../assets/images/two-shirts.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Washing</span></h4>
           
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center" routerLink='/computer-repair'>
            <img class="" src="../assets/images/imac.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Computer Reapair</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/movers.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Movers & Packers</span></h4>
          
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/pest-observation.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Pest Control</span></h4>
          
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/rangoli.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Rangoli</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/paint-brush.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Painting</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/hacksaw.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Carpentary</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/hinduism.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Puja/Pandit</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/presentation.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Home Tutors</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/driving.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Driving</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/girl.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Beauty</span></h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img class="" src="../assets/images/doctor.svg" height="50" width="50">
            <h4 class="text-center features-title"><span>Doctor</span></h4>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>