<app-header></app-header>

<div class="homepage">
    <div class="content">
        <div class="head-wrapper">
            <div class="container" style="margin: 0 auto;">
                <h2>Work <span style="color: #1BBD36">Smarter</span>, Work <span style="color: #5bc0de">Together</span></h2>

                <p>A2Z Service brings you flexibility in choosing the services you want to avail</p>
                <ul class="button-group">
                    <li>
                        <a class="btn btn-success hidden-xs" routerLink="/dashboard">Book Service</a>
                    </li>
                    <li>
                        <a class="btn btn-info txt-black">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;margin-bottom: 50px">
        <h3 class="text-center" style=" margin-bottom: 30px;">How Can We Help You Today?</h3>
        <div class="row features" style="margin-bottom: 30px">
            <div class="col-md-4 text-center">
                <img class="" src="../assets/images/plug.svg" height="67" width="67">

                <h3 class="text-center"><span>Electrical</span></h3>

                <p class="text-justify">Why put your hands in shock prone zones of the complex circuit when you can simply call an expert electrician
                    and make your life easy. At LIFEASY we are one-stop- solution for all your needs and understand the urgency
                    and therefore provide guaranteed 120 minutes of turnaround time. Lifeasy's professionals help you in
                    any assistance in electrician service and ensure safety of your home and family.</p>
            </div>
            <div class="col-md-4 text-center">
                <img class="" src="../assets/images/pipes.svg" height="67" width="67">

                <h3 class="text-center"><span>Plumbing</span></h3>
                <p class="text-justify">Don't let the leaking taps or clogged pipes drain your vital energy on the plumbing issues. It is very annoying
                    if you find leaky or broken taps or for that matter blockage in water supply. Get an easy fix to all
                    your plumbing related concerns with Lifeasy. You can count on our expert professionals for any bathroom
                    fittings, faucet issues, running toilets, common clogs, pipe repairs.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="../assets/images/networking.svg" height="67" width="67">

                <h3 class="text-center"><span>Home Cleaning</span></h3>

                <p class="text-justify"> We have a team of trained professionals equipped with modern cleaning kit and tools to reach the spaces left
                    hidden from your regular maids. Don't just clean your home, get it 'deep cleaned' by Lifeasy.LIFEASY
                    delivers best cleaning methods and make sure that we clean, sanitize and disinfect from corner to corner.
                    Contact us and utilize benefits from our home cleaning services.</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-md-4 text-center">
                <img class="" src="../assets/images/wedding-couple.svg" height="67" width="67">

                <h3 class="text-center"><span>Marriages</span></h3>

                <p class="text-justify">Open Interface is an extremely flexible and highly customizable online hub for work and communication. Because
                    it's so user friendly and scales easily for growing businesses, it's an Editors' Choice.</p>
            </div>
            <div class="col-md-4 text-center">
                <img class="" src="../assets/images/two-shirts.svg" height="67" width="67">

                <h3 class="text-center"><span>Washing</span></h3>

                <p class="text-justify">Find what you need, right when you need it. Open Interface seamlessly enables connections to people and information
                    from across your organization that you never knew existed, making it easier to move your work forward.</p>
            </div>
            <div class="col-md-4 text-center">
                <img class="" src="../assets/images/imac.svg" height="67" width="67">

                <h3 class="text-center"><span>Computer Repair</span></h3>

                <p class="text-justify">From the beginning, our goal has been to make collaboration super-fast. No matter where your colleagues are
                    in the world, if you work with visuals we’ll help you collaborate with your team effortlessly.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style="margin-top: 50px;margin-bottom: 50px;background-color: #39404d;min-height: 254px">
        <div class="row">
            <div class="col-md-12" style="margin-top: 35px">
                <h2 class="free-trail">Get started today</h2>

                <h2 class="free-trail">
                    <strong>Get started on Open Interface</strong>, for streamlined work that will drive your organization
                    forward.
                </h2>

                <form class="email signup-form enable-form-validation  signup-form--round">
                    <input class="remote_email" id="user_mail--bottom" name="user[mail]" placeholder="Enter your email address" required="required"
                        type="email">

                    <input type="submit" value="Start now">
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:100px">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12 text-center">
                    <h3 class="m-b-20">How it works</h3>
                </div>
                <div class="how-it-works">
                    <div class="col-md-4 text-center">
                        <img class="" src="../assets/images/confirm.svg" height="67" width="67">

                        <h3 class="text-center"><span>Book</span></h3>

                        <p class="text-text-center">Share your need and <br>information with us.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="" src="../assets/images/calendar.svg" height="67" width="67">

                        <h3 class="text-center"><span>Schedule</span></h3>

                        <p class="text-center">Schedule a time for us<br> to attend to you.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="" src="../assets/images/resting.svg" height="67" width="67">

                        <h3 class="text-center"><span>Relax</span></h3>

                        <p class="text-center">Our expert team will do the assigned<br> task while you relax.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clients">
        <div class="container" style="margin-bottom:40px">
           
         <h3 class="w3l_header w3_agileits_header two">What People Say</h3>
         <div class="banner-wrap">
            <div class="col-md-4 client-grids">
                <p>In vitae tincidunt turpis. Proin in euismod dolor. Sed eget tellus venenatis, molestie lorem tempus, viverra ante vulputate.</p>
                <div class="col-md-3">
                    <div ><img class="c-img" src="../assets/images/c1.jpg" height="50" width="50" alt="jay">	</div>							
                </div>
                <div class="col-md-9 p-l-none c-info">
                    <h4>Jackie</h4>
                    <h5>Client1</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 client-grids">
                <p>In vitae tincidunt turpis. Proin in euismod dolor. Sed eget tellus venenatis, molestie lorem tempus, viverra ante vulputate.</p>
                <div class="col-md-3 ">
                    <img class="c-img" src="../assets/images/c4.jpg" height="50" width="50" alt="jay">								
                </div>
                <div class="col-md-9 p-l-none c-info">
                    <h4>Charlize</h4>
                    <h5>Client2</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 client-grids">
                <p>In vitae tincidunt turpis. Proin in euismod dolor. Sed eget tellus venenatis, molestie lorem tempus, viverra ante vulputate.</p>
                <div class="col-md-3">
                    <img class="c-img" src="../assets/images/c5.jpg" height="50" width="50" alt="jay">								
                </div>
                <div class="col-md-9 p-l-none c-info">
                    <h4>Jessica</h4>
                    <h5>Client3</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        </div>
    </div>
</div>

<app-footer></app-footer>